<ion-header>
    <ion-toolbar>
        <ion-title>
            Liste des cartes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let cardInfo of cardInfos">
        <img [src]="cardInfo.card_images[0].image_url" alt=""/>
        <ion-card-header>
            <ion-card-subtitle>{{ cardInfo.type }}</ion-card-subtitle>
            <ion-card-title>{{ cardInfo.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{cardInfo.desc}}</p>
        </ion-card-content>
    </ion-card>
    <section>
        <ion-button *ngIf="currentPage > 1" (click)="goToPreviousPage()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="goToNextPage()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </section>
</ion-content>
